<!DOCTYPE html>
<html>

<head>
  <title>
    Nicolas Lain
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap" rel="stylesheet">
  <!-- ICON -->
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <img class="header-img-dt" src="./images/remaxDowntown.png" alt="">
    <img class="header-img-logo" src="./images/logo.png" alt="">
  </header>

  <div class="info">
    <div class="info-img-div">
      <img class="info-img" src="./images/profileImg.png" alt="">
    </div>
    <div class="info-content">
      <h1 class="info-name">Nicolas Lain</h1>
      <h4 class="info-agent">Agente Inmobiliario</h4>
      <div class="info-links-separation"></div> <!-- Separation -->
      <div class="info-links">
        <div class="info-link-div wpp">
          <i class="fa-brands fa-whatsapp"
            data-url="https://api.whatsapp.com/send?phone=+541133615533&text=%C2%A1Hola!%20%F0%9F%91%8B%20%C2%BFC%C3%B3mo%20est%C3%A1s%3F%20Me%20gustar%C3%ADa%20recibir%20asesoramiento%20en%20el%20rubro%20inmobiliario.%20%C2%BFPodr%C3%ADas%20ayudarme%20con%20algunas%20consultas%3F%20%C2%A1Gracias!"></i>

          <p class="info-links-title">WPP</p>
        </div>
        <div class="info-link-div mail">
          <i class="fa-solid fa-envelope" data-url="mailto:lainnicolas1@icloud.com"></i>
          <p class="info-links-title">MAIL</p>
        </div>
      </div>
    </div>
  </div>

  <div class="contact">
    <div class="contact-content">
      <i class="fa-solid fa-phone"></i>
      <p class="contant-info">+54 9 11 3361 5533</p>
    </div>
    <div class="contact-content">
      <i class="fa-solid fa-envelope" data-url="mailto:lainnicolas1@icloud.com"></i>
      <p class="contant-info">lainnicolas1@icloud.com</p>
    </div>
    <div class="contact-content">
      <i class="fa-solid fa-globe"></i>
      <p class="contant-info">remax.com.ar</p>
    </div>
  </div>

  <div class="terms">
    <p class="terms-text">Los corredores publicos intermedian y concluyen todas las operaciones.
      Los agentes operan bajo el control y supervision de un corredor publico.
      Las oficinas son de propiedad y gestion independiente</p>
  </div>
  <footer>
    <img class="footer-img" src="./images/logo.png" alt="">
    <div class="footer-text">
      <p class="footer-text-bold">LIDER MUNDIAL</p><p class="footer-text-normal">EN SERVICIOS
      </p>
      <p class="footer-text-normal">
        INMOBILIARIOS
      </p>
    </div>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const links = document.querySelectorAll('.info-link-div');

      links.forEach(link => {
        link.addEventListener('click', function() {
          const url = this.querySelector('i').getAttribute('data-url');
          window.location.href = url;
        });
      });
    });
  </script>

</body>

</html>